body {
  background-color: rgb(245, 245, 245);
  font-family: "Poppins", sans-serif;
}
/****************** H  E  A  D  E  R***************/

.header {
  background-color: #fff;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__menu-icon {
  margin: 15px 30px 15px 30px;
  cursor: pointer;
}
.nav__login {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.nav__login--txt {
  display: block;
  margin-right: 25px;
  font-size: 15px;
  font-weight: 500;
}
.nav__login--button {
  width: 100px;
  height: 30px;
  background-color: #fff;
  border: 2px solid rgba(20, 169, 255, 0.849);
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  outline: none;
}
.nav__login--button:hover {
  cursor: pointer;
}
.nav__login--button:active {
  border-color: rgba(24, 146, 218, 0.849);
}
.nav__login--icon {
  width: 32px;
  height: 32px;
  display: none;
  cursor: pointer;
}
/****************** M  A   I   N ***************/
.main {
  width: 85%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas:
    "profile  sidebar-top-part"
    "profile   services       "
    "gallery   services       "
    "reviews       .          ";
  grid-gap: 20px;
}
/****************** P  R  O  F  I  L  E ***************/

.main__profile {
  grid-area: profile;
  border-radius: 7px;
  background-color: #fff;
  height: max-content;
  display: flex;
}
.profile__picture-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
}
.picture-container__photo {
  width: 150px;
}
.picture-container__icons-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}
.icons-button-wrapper__icon-list {
  display: flex;
  margin: 15px;
}
.icon-list__item {
  margin: 5px;
}
.icon-list__item:hover,
.icons-button-wrapper__message-button:hover {
  cursor: pointer;
}
.icons-button-wrapper__message-button {
  width: 150px;
  height: 50px;
  background-color: #fff;
  border: 2px solid rgba(20, 169, 255, 0.849);
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  outline: none;
}
.icons-button-wrapper__message-button:active {
  border-color: rgba(24, 146, 218, 0.849);
}
.profile__text {
  margin: 35px 15px;
}
.text__person-name {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}
.text__person-info {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.5px;
}
/****************** S  I  D  E  B  A  R ***************/
.main__sidebar-top {
  grid-area: sidebar-top-part;
  border-radius: 7px;
  background-color: #fff;
  height: max-content;
}
.sidebar-top__content-wrapper {
  display: flex;
  align-items: center;
  margin: 20px;
}
.content-wrapper__img {
  width: 50px;
  margin-right: 10px;
}
.content-wrapper__txt {
  display: block;
  margin-left: 12px;
  font-size: 18px;
  font-weight: 600;
}
.content-wrapper__txt:hover {
  cursor: pointer;
}
.main__services {
  margin-top: -18px;
  grid-area: services;
  border-radius: 7px;
  background-color: #fff;
  height: max-content;
}
.services__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}
.content-wrapper__header {
  font-size: 22px;
  font-weight: bold;
  align-self: flex-start;
  margin: 15px 0 15px 0;
}
.content-wrapper__service {
  display: flex;
  width: 100%;
  border: 2px solid rgb(185, 184, 184);
  border-radius: 5px;
  margin: 15px;
  min-height: 100px;
}
.service__active-icon {
  width: 45px;
  height: 45px;
  align-self: flex-start;
}
.service__active-icon--grey {
  width: 25px;
  height: 25px;
  margin: 5px 5px 0 0;
}
.content-wrapper__service--blue {
  border-color: rgba(20, 169, 255, 0.849);
}

.content-wrapper__service:hover,
.content-wrapper__service:active {
  border-color: rgba(20, 169, 255, 0.849);
  cursor: pointer;
}
.service__time-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 242, 242);
  border-right: 1px solid rgb(185, 184, 184);
  padding: 5px;
}
.service__time-amount--blue {
  border-right: 1px solid rgba(20, 169, 255, 0.849);
}
.time-amount__img {
  width: 50px;
}
.time-amount__cost {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}
.service__info {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: px;
}
.service__info--header {
  font-weight: bold;
  font-size: 15px;
  margin: 6px;
}
.service__info--txt {
  font-weight: 400;
  font-size: 14px;
  display: block;
  margin: 10px 6px;
}
.service__info--txt > a {
  color: black;
}
.content-wrapper__button {
  margin: 12px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(20, 169, 255, 0.849);
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.content-wrapper__button:active {
  background-color: rgba(21, 156, 235, 0.849);
}

/****************** G  A   L  L   E   R  Y ***************/
.main__gallery {
  grid-area: gallery;
  border-radius: 7px;
  background-color: #fff;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.gallery__header {
  font-size: 22px;
  font-weight: bold;
  margin: 40px 30px 20px 30px;
}
.gallery__images-wrapper {
  margin: 10px 30px 10px 30px;
  display: flex;
  flex-wrap: wrap;
}
.images-wrapper__photo-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  border-radius: 5px;
  margin: 5px;
}
.images-wrapper__photo-container--small {
  width: 80px;
  flex: 1 80px;
}
.images-wrapper__photo-container--medium {
  width: 120px;
  flex: 1 120px;
}
.images-wrapper__photo-container--big {
  width: 160px;
  flex: 1 160px;
}
.video-icon {
  display: block;
  margin: auto;
  margin-top: 60px;
}
.img-1 {
  background-image: url("../gallery/1.jpg");
}
.img-2 {
  background-image: url("../gallery/2.jpg");
}
.img-3 {
  background-image: url("../gallery/3.jpg");
}
.img-5 {
  background-image: url("../gallery/5.jpg");
}
.img-6 {
  background-image: url("../gallery/6.jpg");
}
.img-7 {
  background-image: url("../gallery/7.jpg");
}
.img-8 {
  background-image: url("../gallery/8.jpg");
}
.img-9 {
  background-image: url("../gallery/9.jpg");
}
.img-10 {
  background-image: url("../gallery/10.jpg");
}
.img-11 {
  background-image: url("../gallery/11.jpg");
}
.img-12 {
  background-image: url("../gallery/12.jpg");
}
.img-13 {
  background-image: url("../gallery/13.jpg");
}
.img-14 {
  background-image: url("../gallery/14.jpg");
}
.img-15 {
  background-image: url("../gallery/15.jpg");
}
/****************** R   E  V  I  E  W  S ***************/
.main__reviews {
  grid-area: reviews;
  border-radius: 7px;
  background-color: #fff;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.main__reviews--header {
  margin: 40px 30px 20px 30px;
  font-size: 22px;
  font-weight: bold;
}
.reviews__person-review {
  display: flex;
  box-sizing: border-box;
  margin: 30px;
  padding-bottom: 30px;
}
.person-review__profile-img {
  width: 60px;
  align-self: flex-start;
}
.person-review__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.person-review__header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header-wrapper__person-name {
  font-size: 15px;
  font-weight: 600;
  display: block;
}
.haeder-wrapper__rating {
  display: flex;
}
.rating__stars {
  margin: 4px;
  cursor: pointer;
}
.review-container__text {
  font-weight: lighter;
  font-size: 14px;
}
.reviews__person-review:nth-of-type(1) {
  border-bottom: 1px solid rgb(214, 214, 214);
}
.reviews__changing-pages-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews__changing-pages-buttons > span {
  display: block;
  margin: 10px;
  cursor: pointer;
}
.changing-pages-buttons__icon {
  width: 35px;
  cursor: pointer;
}
.chaning-pages-buttons__prev-pages {
  font-size: 20px;
  color: rgb(143, 143, 143);
}
.chaning-pages-buttons__num-page {
  color: rgb(107, 107, 107);
}
.chaning-pages-buttons__num-page--background {
  background-image: url("../gallery/Rectangle\ Copy\ 8.png");
  background-position: center;
  background-size: cover;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}
.reviews__write-review {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.write-review__header {
  display: flex;
  justify-content: space-between;
}
.write-review__header--heading {
  font-size: 15px;
  font-weight: 400;
}
.header__rating > img {
  margin: 5px;
  cursor: pointer;
}
.write-review__writing-area {
  outline: none;
  font-size: 15px;
  resize: none;
  border-color: rgb(209, 207, 207);
  border-radius: 5px;
}
.write-review__post-button {
  align-self: flex-end;
  margin-top: 10px;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  outline: none;
  border: none;
  font-weight: 100;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}
.write-review__post-button:active {
  background-color: rgb(175, 175, 175);
}
