@media screen and (max-width: 1064px) {
  .nav__login {
    display: none;
  }
  .nav__login--icon {
    display: block;
    margin-right: 50px;
  }
  .main__profile {
    flex-direction: column;
  }
  .profile__picture-container {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .picture-container__icons-button-wrapper {
    margin: 30px;
  }
  .profile__text {
    margin: 15px 27px;
  }
}
@media screen and (max-width: 869px) {
  .main {
    width: 100%;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-template-areas:
      "sidebar-top-part "
      "    profile      "
      "    services     "
      "     gallery     "
      "     reviews     ";
    grid-gap: 10px;
  }
  .main__services {
    margin: 0;
  }
  .service__active-icon {
    margin-left: auto;
  }
}
@media screen and (max-width: 556px) {
  .main {
    grid-template-columns: 100%;
  }
  .profile__picture-container {
    margin: 10px;
  }
  .picture-container__icons-button-wrapper {
    width: 120px;
    margin-left: 25px;
  }
  .icons-button-wrapper__message-button {
    width: 100%;
  }

  .nav__login--icon {
    margin-right: 30px;
  }
  .reviews__changing-pages-buttons {
    display: none;
  }
  .person-review__header-wrapper {
    flex-direction: column;
  }
  .header-wrapper__rating {
    margin: 10px 0 10px 0;
  }
  .header__rating > img {
    margin-right: 2px;
  }
}
@media screen and (min-width: 1440px) {
  .main {
    width: 1224px;
  }
  .header__nav {
    width: 1430px;
    margin: 0 auto;
  }
}
